body {
    font-family: Georgia, serif;
    text-align: center;
    background-color: #3E78B2;
}

/* Saint Paul, MN */
#location {
    padding-top: 1em;
    font-family: Arial, sans-serif;
    font-size: 4em;
    margin-bottom: 0em;
    
}

.temperature-container {
    padding-top: 1em;
    justify-content: center;
    display: grid;
    grid-template-columns: 4em 4em 4em;   
}